<section class="hero-section" id="hero">
  <div class="wrap-hero">
    <div class="container hero-container">
      <h1 class="hero-title">
        Hello. <br />
        I’m Fullstack developer Artem Parashchuk.
      </h1>
      <div class="hero-ccontacts-wrap">
        <ul class="hero-soc-list">
          <li class="hero-soc-item">
            <a
              href="https://www.instagram.com/artem_parashchuk/"
              class="hero-soc-link"
              target="_blank"
              >IG</a
            >
          </li>
          <li class="hero-soc-item">
            <a
              href="https://www.linkedin.com/in/artem-parashchuk-023998220/"
              class="hero-soc-link"
              target="_blank"
              >LI</a
            >
          </li>
          <li class="hero-soc-item">
            <a href="https://github.com/Artem-Parashchuk" class="hero-soc-link"
              >GH</a
            >
          </li>
        </ul>
        <a
          href="a.p.paraschuk@gmail.com"
          class="hero-soc-link hero-email"
          >a.p.paraschuk@gmail.com</a
        >
      </div>
    </div>
  </div>
</section>
